
.unicornized:after {
  content: "";
  background: url("../img/unicorn.jpg");
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.reveal section img {
  /*background: none !important;*/
  border: none !important;
  padding: .5em;
}
